<tr class="<%= task.complete?? '' : 'warning' %>" id="task_<%= task.id %>">
  <td class="<%= task.complete?? 'task_complete' : '' %>"><%= task.title %></td>
  <td>
    <%= form_for(task, remote: true, method: :patch) do |f| %>
      <%= f.check_box :complete, value: task.complete?, id: 'task_update_checkbox' %>
      <% if task.complete? %>
        <%= f.label :complete %>
      <% else %>
        <%= f.label 'Incomplete' %>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, task, remote: true, method: :delete, data: { disable_with: "<i class='fa fa-refresh fa-spin'></i>".html_safe } %></td>
</tr>
