<%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
<!-- Modal -->
<div id="new_session" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header background-todolist">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <div class="modal-body">
      
        <h2 class="page-header">Sign In</h2>
          
        <div id="devise_error_messages"><%= devise_error_messages! %></div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
    
        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
    
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
    
        <div class="form-group">
          
        </div>
        
        <%= render "devise/shared/links" %>
          
      </div>
      <div class="modal-footer">
        <%# end form_for, very important do not refactor, otherwise close btn submits %>
        <%= button_tag(type: "submit", class: "btn btn-primary btn-lg", data: {disable_with: raw("<i class='fa fa-spin fa-refresh'></i>")}) do %>
            Sign In
        <% end %>
        
        <% end %>
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>