<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a id="logo_wrapper" class="navbar-brand" href="/">
        <%= image_tag 'favicon.png', height: '18px', id: 'logo_img' %>TodoList
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="pull-right">
        <% if user_signed_in? %>
          <%= form_for task_search_path, url: "/task/search", html: { class: "navbar-form navbar-left" } do |f| %>
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <%= f.text_field :query, placeholder: "Search", class: "form-control", role: "search" %>
            </div>
          <% end %>
        <% end %>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <% if user_signed_in? %>

      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
